.product_photo{
    position: relative;
    width: 220px;
    height: 220px;
    float: left;
    text-align: center;
}
.product_photo a{

}
.product_photo img{
    margin: 0 auto;
    vertical-align: top;
    max-width: 160px;
    max-height: 160px;
}