.product_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 220px;
    height: 220px;
    float: left;
    text-align: center;
}
.product_photo a:hover{
    border-bottom: none;
}
.product_photo img{
    margin: 0 auto;
    vertical-align: top;
    width: 160px;
    height: 160px;
}


@media (max-width: 1249px) and (min-width: 1000px){
    .product_photo{
        width: 160px;
        height: 160px;
      }
  }


@media (max-width: 999px) and (min-width: 0px){
    .product_photo{
      float: none;
    }
  }