.product_code-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    padding: 0px 0px 0 19px;
}

.product_status{
    color: #093;
    font-size: 14px;
    border-bottom: 1px dotted #093;
    cursor: pointer;
    height: 18px;
}
.product_code {
    font-size: 12px;
    color: #666;
}

.product_status:hover{
   border-bottom: none;
}