.product_code-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    padding: 0px 0px 0px 19px;
}

.product_status{
    color: #093;
    font-size: 14px;
    border-bottom: 1px dotted #093;
    cursor: pointer;
    height: 18px;
}
.product_code {
    font-size: 12px;
    color: #666;
}

.product_status:hover{
   border-bottom: none;
}

@media (max-width: 1249px) and (min-width: 1000px){
    .product_code-info {
        width: 180px;
        padding-left: 10px;
    }
  }

@media (max-width: 999px) and (min-width: 0px){
    .product_code-info{
        order: -1;
        width: 210px;
        padding: 0
    }
  }